body {
    margin: 0;
    padding: 0;
}

main {
    margin: 0 10% 0 10%;
    color: #212A3E;
}

.icon-color{
    color: #394867;
}

#page-name h1 {
    padding: 0;
    margin: 0;
}

#page-name {
    text-align: center;
    width: 100%;
    margin: 1vh 0 1vh 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item{
    text-align: center;
}

.web-name{
    color: #A4D0A4;
}

.subtitle {
    margin: 0;
    padding: 0;
    text-align: center;
}